<div class="sidebar-module"> <!-- sidebar-module-inset">-->
  <h4>{{ site.locales[site.default_locale].Copyright_Notice }}</h4>

  {% if site.default_locale == "cn" %}

  <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh">
    <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png">
  </a>
  <br />
  <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh">署名-非商业性使用-相同方式共享</a>

  {% else %}

  <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
    <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png">
  </a>
  <br />
  <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Attribution-NonCommercial-ShareAlike</a>

  {% endif %}

</div>

