<div class="sidebar-module">
  <h4>{{ site.locales[site.default_locale].Google_search }}</h4>

  <!--form onsubmit="my_search_google()" >
    <div class="google-search">
    <input type="text" id="my-google-search">
    </div>
  </form-->


  <form name="cse" id="searchbox_demo" action="https://www.google.com/cse">
    <input type="hidden" name="cref" value="" />
    <input type="hidden" name="ie" value="utf-8" />
    <input type="hidden" name="hl" value="" />
    <input name="q" type="text" size="20" />
    <input type="submit" name="sa" value="Go" />
  </form>
  <script type="text/javascript" src="https%3A%2F%2Fcse.google.com%2Fcse/tools/onthefly?form=searchbox_demo&lang="></script>


</div>

