---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
    {{ site.locales[site.default_locale].PostedInCategories }}
    {% for cat in page.categories %}
    <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %} 
    {% if page.tags != empty %}
    {{ site.locales[site.default_locale].Taggedwith }}
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless page.tags.last == tag %}, {% endunless %}
    {% endfor %}
    {% endif %}
    {{ site.locales[site.default_locale].PostDate }}{{ page.date | date: "%b %-d, %Y" }}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <hr />
</div>


{% include page_pagination.html%}
{% include comments.html %}

